* {
	-webkit-touch-callout: none;
	box-sizing: border-box;
	outline: none;
}
body {	
	overflow: hidden;
	margin: 0;
	padding: 0;
	background:#070707  url(../images/bg.jpg) center 0 no-repeat;
	background-size: 95%;
	font:1em arial;
	height: 100%;
}

@media (max-width: 1024px) {
	body {	
		background:#070707  url(../images/bg.jpg) center 10% fixed no-repeat;
		height: 100%;
		background-size: 180%;
		background-position: center 10%;
	}
}

@media (max-width: 768px) {
	body {	
		background:#070707  url(../images/bg.jpg) center 80% fixed no-repeat;
		height: 100%;
		background-size: 220%;
	}
}

#content {
	position: relative;
	z-index: 90;
	height: 100%;
	margin: 0 auto;
	width: 100%;
	float: left;
	padding:0 0 0;
}


#wrapper{
	border-radius: 3px;
    padding:0px;
   
}
#steps{
	width:280px;
	margin:0px auto;
    padding:0px;
	margin-left: -140px;
	margin-top: -13%;
	top: 50%;
	left: 50%;
	position: fixed;
}

@media (max-width: 600px) {
	#steps{
		margin-top: -38%;
	}
}
input, button{
	opacity: 0.9;
}

.step{
    float:left;
    padding:0px;
	width: 100%;
}
span.checked{
    background:transparent url(../images/checked.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}

#form2 { margin-top:-20px}
#steps form fieldset{
    border:none;
}
#steps form fieldset{
    border:none;
}
#steps form .legend{
	margin-bottom: 10px;
	width: 100%;
    text-align:center;
    color:#fff;
    font-size:2.2em;
	text-shadow: 1px 1px 1px #333;
} 
#steps form .legend img{
	margin-right: 4px;
} 

#steps form p{
    float:left;
    clear:both;
    margin:0;
    padding:.4em 0;
}

#label { font-size:31px; }

#steps form input:not([type=radio]),
#steps form textarea,
#steps form select,
#steps form button{
    background: #fff;
    border: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; 
	border-radius: 3px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5), inset 0 -1px 1px rgba(0,0,0,.2);   
    outline: none;
    padding: .7em .5em;
    width: 100%;
	font-size: 1em;
	margin: 6px 0 ;
}
#steps form input:focus{
    background:#DEF0FF !important;
	box-shadow: inset 0 1px 2px  rgba(0,0,0,.5), inset 0 -1px 1px  rgba(0,0,0,.6);
	
}
#steps form p.button{
    padding: .5em 2px;
}
#steps form button {
	border:0 solid #57180d;
	outline:none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: block;
    cursor:pointer;
    padding:0px;
    clear:both;
    padding: 9px 15px;
    font-size:1.1em;
	background: rgb(252, 100, 41);
	box-shadow: 0 1px 2px rgba(20, 20, 20, 0.5);
    color: #eee;
	text-shadow:1px 1px 0 #57180d;
	position:relative;
    width: 100%;
    border-radius: 3px;
}

#steps form button:active{
	box-shadow: inset 0 1px 2px rgba(20, 20, 20, 0.5);
}
a { cursor:pointer}

.alert.error {
	position: absolute;
	top: 35px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 282px;
	display:block;  
	padding:11px 5px 11px 45px; 
	font-size:13px; 
	font-weight:bold; 
	z-index:9999;
	color:#fff;  
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:0 1px 2px #333; 
	-webkit-box-shadow:0 1px 2px #333;  
	box-shadow:0 1px 2px #333; 
	background:url(../images/error.png) no-repeat rgb(167, 7, 7) 7px 3px;
	cursor: pointer;
	}

.alert.success {
	position: absolute;
	top: 35px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 282px;
	display:block;  
	padding:11px 5px 11px 45px; 
	font-size:13px; 
	font-weight:bold; 
	z-index:9999;
	color:#fff;  
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:0 1px 2px #333; 
	-webkit-box-shadow:0 1px 2px #333;  
	box-shadow:0 1px 2px #333;
	background: url(../images/ok.png) no-repeat rgb(91, 177, 11) 7px 3px;
	cursor: pointer; 
}
.alert.info {
	position: absolute;
	top: 35px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 282px;
	display:block;  
	padding:11px 5px 11px 45px; 
	font-size:13px; 
	font-weight:bold; 
	z-index:9999;
	color:#fff;  
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:0 1px 2px #333; 
	-webkit-box-shadow:0 1px 2px #333;  
	box-shadow:0 1px 2px #333; 
	background:url(../images/info.png) no-repeat #4c96e0 7px 3px;
	cursor: pointer;
	}


@media (max-width: 900px) {

.alert.error ,
.alert.info ,
.alert.success {
	width: 295px;	
	font-size:13px; 
}
}
#footer {
	z-index: 9;
	width: 100%;
	position: fixed;
	bottom: 0;
	text-align: center;
	padding: 20px 0;
}
#footer p {
	
	margin: 0 auto;
	margin-top: 400px;
	color: #eee;
	font-size: .7em;
}

span {
	margin: 20px 0 0;
    padding: 3px 8px;
    color: #ccc;
    font-size: 11px;
	cursor: pointer;
	background : rgba(20, 20 ,20 , .50);
	border-radius: 20px;	
  -webkit-transition: all 0.3s;
          transition: all 0.3s;  
}
span:hover {
    color: #fff;	
}